# {{ ansible_managed }}

upstream backends {
{% for host in groups['backend'] %}
  {% if hostvars[host]['ansible_domain'] in ansible_domain %}server {{ hostvars[host]['ansible_default_ipv4']['address'] }};{% endif %}
{% endfor %}
{% for host in groups['backend_vrack'] %}
  server {{ hostvars[host]['ansible_default_ipv4']['address'] }};
{% endfor %}
}

server {
  server_name             _;
  listen                  80;

  location / {
    proxy_pass http://backends;
  }
}
